{% extends 'base.html' %} {% load bootstrap4 %}

{% block content %}

<div class="container-fluid">

    <div class="main">
    
        <div class="header">
    
            <img src="../../static/css/images/uber.png" alt="">
            <h1>WELCOME TO KAPOOL!</h1>
            <p>Login As?</p>
    
        </div>
    
        <!-- Buttons -->
        <div class="driver">
            <a href="/driver/profile">
                <p> Driver </p>
            </a>
        </div>
        <div class="user">
            <a href="/user/profile">
                <p> Passenger</p>
            </a>
        </div>

    </div>
</div>

{% endblock %}