{% extends 'base.html' %} {% load bootstrap4 %} {% load static%}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border border-2 border-white rounded-0">
    <div class="container-fluid">
        <a href="/">
            <i class="fa fa-taxi" style="font-size:48px;color:blue"alt="" width="15%"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="font-family: 'Pacifico', cursive; font-size:30px;">
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li> <a style="color: black;" class="nav-item nav-link" href="/"></a>
              </li>
              <hr>
              <li>
                <a class="nav-link open-nav" href="{% url 'profile' %}"><i class="fa fa-user"
                    style="font-size:30px;color:blue">{{user}}</i></a>
              </li>
              <hr>
              <li>
                <a style="color: blue;" class="nav-item nav-link" href="{% url 'logout' %}?next={% url 'login' %}">Logout</a>
                {% else %}
                <a style="color: blue;" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
              </li>
            </ul>
          </div>
    </div>
</nav>
{% endblock %}