{% extends 'base.html' %} {% load bootstrap4 %} {% load static%}

{% block content %}

<div class="container-fluid" style="text-align: center;">
    <div class="main">
        <div class="header">
            <h1 style="font-weight: bolder;">WELCOME TO KAPOOL!</h1>
            <h3>Login As?</h3>
        </div>
        <div class="driver">
            <a href="/driver/profile">
                <button>Driver</button> 
            </a>
        </div>
        <br>
        <div class="user">
            <a href="/user/profile">
                <button>Passenger</button>
            </a>
        </div>

    </div>
</div>

{% endblock %}